<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.PasswordMapper">
    <!-- パスワード登録 -->
    <insert id="addPassword" parameterType="com.example.app.domain.User">
        INSERT INTO password (user_id, password_hash)
        VALUES (#{id}, #{userPassword})
    </insert>

    <!--idからパスワードを検索-->
    <select id="selectById" parameterType="int" resultType="string">
        SELECT password_hash FROM password
        WHERE user_id = #{userId}
    </select>
</mapper>