<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.TodosMapper">

    <!-- todos テーブルへのデータ挿入 -->
    <insert id="insertTodo" parameterType="com.example.app.domain.Todo">
        INSERT INTO todos (user_id, title, description, created_at, updated_at)
        VALUES (#{userId}, #{title}, #{description}, NOW(), NOW())
    </insert>

    <!-- ユーザーIDに基づいてTodoのタイトルを全件取得 -->
    <select id="findTitlesByUserId" resultType="com.example.app.domain.Todo">
        SELECT id, title FROM todos WHERE user_id = #{userId}
    </select>

    <!-- ユーザーIDに基づいて未完了（status=0）のTodoのタイトルを取得 -->
    <select id="findUncompletedTitlesByUserId" resultType="com.example.app.domain.Todo">
        SELECT id, title FROM todos WHERE user_id = #{userId} AND status = 0
    </select>

    <!-- ユーザーIDに基づいて完了（status=1）のTodoのタイトルを取得 -->
    <select id="findCompletedTitlesByUserId" resultType="com.example.app.domain.Todo">
        SELECT id, title FROM todos WHERE user_id = #{userId} AND status = 1
    </select>


    <!-- IDに基づいてTodoの詳細を取得 -->
    <select id="findById" parameterType="int" resultType="com.example.app.domain.Todo">
        SELECT id, title, description, status, created_at, updated_at
        FROM todos
        WHERE id = #{id}
    </select>

    <!-- idに基づいてtodoの内容を変更 -->
    <update id="updateTodo" parameterType="com.example.app.domain.Todo">
        UPDATE todos
        SET title = #{title},
            description = #{description},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- IDに基づいてTodoのstatusを変更 -->
    <update id="updateTodoStatus" parameterType="com.example.app.domain.Todo">
        UPDATE todos
        SET status = #{status},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- IDに基づいてTodoを削除 -->
    <delete id="deleteTodoById" parameterType="int">
        DELETE FROM todos WHERE id = #{id}
    </delete>

    
</mapper>