@charset "UTF-8";

/* style.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	padding: 20px;
}

form {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	color: #333;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	/* Ensure padding doesn't affect overall width */
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #5cb85c;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #4cae4c;
}

.register-container {
    max-width: 400px; /* フォームと同じ最大幅を指定 */
    margin: 20px auto; /* 上下のマージンを設定し、自動で中央揃え */
    padding: 0 20px; /* ボタンの幅を調整するためのパディング */
}

.register-button {
    width: calc(100% - 20px); /* パディングを考慮した幅 */
    padding: 8px; /* ボタンの縦幅を少し小さく */
    margin: 0; /* マージンをリセット */
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* 新規登録は青色で区別 */
    color: white;
    font-size: 14px; /* フォントサイズを少し小さく */
    cursor: pointer;
}

.register-button:hover {
    background-color: #0056b3; /* ホバー時の色変更 */
}
