<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo追加</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link th:href="@{/css/styleTodo.css}" rel="stylesheet">
</head>
<body>

<form th:action="@{/addTodo}" th:object="${todo}" method="post">

    <input type="text" th:field="*{title}" placeholder="タイトル"/>

    <!-- デバッグ用: userIdの値を表示 -->
    <!-- <p th:text="'userId: ' + ${userId}"></p> -->

    <textarea th:field="*{description}" id="markdown-editor" placeholder="説明"></textarea>
    <button type="submit">作成</button>
</form>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
</script>

</body>
</html>
