<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <h1>ログイン</h1>
    <form action="/myPage" method="post" th:object="${user}">
        <div>
            <label for="username">ユーザー名:</label>
            <input type="text" id="username" th:field="*{userName}" required="required">
        </div>
        <div>
            <label for="password">パスワード:</label>
            <input type="password" id="password" th:field="*{userPassword}" required="required">
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>

    <!-- エラーメッセージ表示 -->
    <div th:if="${loginError}" th:text="${loginError}" style="color: red;"></div>

    <div>
        <a th:href="@{/register}"><button type="button">新規登録</button></a>
    </div>
    
</body>
</html>