<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイページ</title>
</head>
<body>
    <h1>ToDoリスト一覧</h1>
    <div th:if="${uncompleteds.isEmpty()} and ${completeds.isEmpty()}">
        ToDoリストが空です。
    </div>
    
    <h2>未完了のToDo</h2>
    <div th:if="${!uncompleteds.isEmpty()}">
        <ul>
            <!-- 未完了ToDoリストの各項目を表示 -->
            <li th:each="todo : ${uncompleteds}">
                <a th:href="@{/todo/{id}(id=${todo.id})}" th:text="${todo.title}">タイトル</a>
            </li>
        </ul>
    </div>
    <div th:if="${uncompleteds.isEmpty()}">
        未完了のToDoはありません。
    </div>
    
    <h2>完了したToDo</h2>
    <div th:if="${!completeds.isEmpty()}">
        <ul>
            <!-- 完了ToDoリストの各項目を表示 -->
            <li th:each="todo : ${completeds}">
                <a th:href="@{/todo/{id}(id=${todo.id})}" th:text="${todo.title}">タイトル</a>
            </li>
        </ul>
    </div>
    <div th:if="${completeds.isEmpty()}">
        完了したToDoはありません。
    </div>
    
    <a th:href="@{/addTodo}">作成</a>
</body>
</html>
