<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <h1>登録フォーム</h1>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div>
            <p>名前</p>
            <input type="text" id="name" th:field="*{userName}" required>
        </div>
        <div>
            <p>パスワード</p>
            <input type="password" id="password" th:field="*{userPassword}" required>
        </div>
        <div>
            <button type="submit">登録</button>
        </div>
    </form>
</body>
</html>
