<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoタスク詳細表示</title>
</head>
<body>
    <h1>ToDo詳細</h1>
    <div>
        <h2 th:text="${todo.title}">タスクタイトル</h2>
        <!-- th:utextを使用して、HTMLとしてマークダウンから変換されたdescriptionをレンダリング -->
        <div th:utext="${todo.description}">タスク詳細</div>
        <p>ステータス: <span th:text="${todo.status == 0 ? '未完了' : '完了'}">ステータス</span></p>
        <p>作成日: <span th:text="${todo.createdAt}">作成日</span></p>
        <p>更新日: <span th:text="${todo.updatedAt}">更新日</span></p>
    </div>

    <!-- 例: ToDoの詳細ページまたは一覧ページ内に編集リンクを追加 -->
    <a th:href="@{/todo/edit/{id}(id=${todo.id})}" class="edit-button">編集</a>

    <form th:action="@{/todo/status/{id}(id=${todo.id})}" method="post">
        <input type="hidden" name="status" th:value="${todo.status == 0 ? 1 : 0}" />
        <button type="submit" class="status-update-button">
            <span th:text="${todo.status == 0 ? '完了にする' : '未完了にする'}">ステータス更新</span>
        </button>
    </form>
    
    <!-- ToDoの削除リンク -->
    <form th:action="@{/todo/delete/{id}(id=${todo.id})}" method="post">
        <button type="submit" class="delete-button">削除</button>
    </form>

    <a th:href="@{/myPage}">マイページに戻る</a>
</body>
</html>
