<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoタスク詳細表示</title>
    <link th:href="@{/css/styleMkDetail.css}" rel="stylesheet">
</head>
<body>
    <!-- 編集ボタンを一番上に配置 -->
    <a th:href="@{/todo/edit/{id}(id=${todo.id})}" class="edit-button">編集</a>

    <!-- タスクタイトルコンテナ -->
    <div class="task-container-title">
        <h2 th:text="${todo.title}">タスクタイトル</h2>
    </div>

    <!-- タスク詳細コンテナ -->
    <div class="task-container">
        <div th:utext="${todo.description}">タスク詳細</div>
    </div>

    
    <!-- ボタンコンテナ -->
    <div class="button-container">
        <!-- ステータス更新フォーム -->
        <form th:action="@{/todo/status/{id}(id=${todo.id})}" method="post" class="form-button">
            <input type="hidden" name="status" th:value="${todo.status == 0 ? 1 : 0}" />
            <!-- ステータスに応じてボタンのテキストを動的に変更 -->
            <button type="submit" class="status-update-button" th:text="${todo.status == 0 ? '完了にする' : '未完了に戻す'}">ステータス更新</button>
        </form>

        <!-- 削除フォーム -->
        <form th:action="@{/todo/delete/{id}(id=${todo.id})}" method="post" class="form-button">
            <button type="submit" class="delete-button">削除</button>
        </form>
    </div>

    <!-- マイページへのリンク -->
    <a th:href="@{/myPage}">マイページに戻る</a>
</body>
</html>
